/* index.css */

/* Reiniciar márgenes y rellenos globalmente */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Para que los bordes y los rellenos no afecten el tamaño total del elemento */
}

/* Establecer márgenes globales de manera controlada */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #023047;  /* Fondo general */
  color: #8ecae6;  /* Color del texto */
}

/* El contenedor principal .App */
.App {
  text-align: center;
  margin: 0 auto; /* Centra la app */
  padding: 20px;
}

/* Estilo del encabezado */
.App h1 {
  color: #ffb703;
  font-size: 36px;
  margin-bottom: 20px;
}

/* Estilo del menú */
.menu {
  margin-bottom: 20px; /* Espacio entre el menú y el contenido */
  background-color: #264653;
  padding: 20px;
  border-radius: 8px;
}

/* Estilo de los botones */
button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #ffb703;
  color: white;
  transition: transform 0.2s, background-color 0.3s ease;
  display: inline-block; /* Para aplicar transformaciones sin romper el diseño */
  position: relative;
  overflow: hidden;
}

button:hover {
  transform: scale(1.1); /* Efecto de aumento */
  background-color: #e76f51;
}

/* Animación de flotación en las letras dentro de los botones */
button span {
  display: inline-block;
  animation: float 2s ease-in-out infinite; /* Animación de flotación */
}

@keyframes float {
  0%, 100% {
    transform: translateY(0); /* Posición inicial */
  }
  50% {
    transform: translateY(-10px); /* Mover hacia arriba */
  }
}

/* Estilo para la ventana emergente */
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  color: #023047;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.modal.show {
  display: block;
}

.modal button {
  background-color: #ffb703;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.modal button:hover {
  background-color: #e76f51;
}
